:root {
    --black: #06060F;
    --grey: #393843;
    --red: #E9212B;
    --white: #FFFFFF;
    --dirty-wite: #EEEEEE;
    --transparent: transparent;
    --page-padding: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--white);
}

article {
    padding: var(--page-padding);
    margin-top: calc(-30px - 2 * var(--page-padding));
    min-height: 100dvh;
}

h1{
    margin: 0;
    width: 60%;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--grey);
    opacity: 1;
    font-size: 5rem;
    white-space: nowrap;
    z-index: 1 !important;
    margin: 15rem 0 0 0;
}

h2:nth-of-type(2n){
    text-align: end;
}

h2::before{
    content: attr(data-before);
    position: absolute;
    left: 5px;
    font-size: 15rem;
    opacity: 0.0625;
    z-index: 0 !important;
    margin-top: -5rem;
}

.logo{
    padding: 2%;
    background-color: #fff;
    width: 100%;
}

article>* {
    z-index: 1;
}

#home {
    background-image: url("../imgs/kitchen_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100dvh + var(--page-padding));
}

#place {
    background-color: var(--grey);
    min-height: calc(100dvh - 70px - 2 * var(--page-padding));
}

#kitchen{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#kitchen > section:nth-of-type(2n){
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
}

#kitchen > section{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#kitchen > section > img{
    border-radius: 30px;
    width: 500px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    object-fit: cover;
}

#kitchen > section > div{
    display: flex;
    flex-direction: column;
    gap: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#kitchen > section > div > h3{
    font-size: 3rem;
    font-style: italic;
}

#kitchen > section > div > p{
    font-size: 2rem;
    line-height: 4rem;
}

#customers {
    background-color: var(--grey);
    padding: calc(2 * var(--page-padding));
    min-height: auto;
}

.review-name {
    font-weight: bold;
}


.review {
    background-color: var(--white);
    opacity: .5;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: grid !important;
    grid-template-rows: 175px auto;
    text-align: center;
    line-height: 2.3rem;
    font-size: 1.6rem;
    font-style: italic;
    gap: 10px;
    align-items: center;
}

.materialOverview {
    display: grid;
    grid-template-columns: 33% auto;
    margin-top: 90px;
    grid-template-rows: 60dvh;
    justify-content: center;
    gap: 40px;
  }
  
  .material-nav-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
  }
  
  .material-nav-container > label {
    border-top: 1px solid #ccc;
    padding: 10px;
    font-size: 2rem;
  }
  
  .material-nav-container > input {
    display: none;
  }

  .material-nav-container > input:checked + label {
    background-color: #f7f7f7;
  }
  
  .material-nav-container > label:hover {
    background-color: #f7f7f7;
  }
  
  .material-nav-container > label:last-of-type {
    border-bottom: 1px solid #ccc;
  }

  .material-display-container > div{
    display: none;
  }

  .material-display-container > div.show-data{
    display: flex;
    flex-direction: column;
  }
  
  .material-display-container > div > h3 {
    font-size: 3rem;
    margin-top: 0;
  }
  
  .material-display-container > div > p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  