:root{
    --black:#06060F;
    --grey:#393843;
    --red:#DA1B2B;
    --white:#FFFFFF;
    --dirty-wite:#EEEEEE;
    --page-padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
}

body{
    background-color: var(--white);
}

article{
    padding: var(--page-padding);
    margin-top: calc(-30px - 2 * var(--page-padding));
    min-height: 100dvh;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--grey);
    opacity: .25;
    font-size: 10rem;
    z-index: 0 !important;
}

article > *{
    z-index: 1;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#place{
    background-color: var(--grey);
    min-height: calc(100dvh - 70px - 2 * var(--page-padding));
}