nav {
    padding: calc(var(--page-padding) / 2) var(--page-padding);
    display: flex;
    flex-direction: row;
    gap: var(--page-padding);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 30px;
    background-color: var(--transparent);
    transition: 0.2s
}

nav:hover {
    background-color: var(--white) !important;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}

nav>a {
    color: var(--white);
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    background-image: linear-gradient(var(--red), var(--red));
    background-position: 0 100%;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition: 0.2s;
    padding-bottom: 5px;
}

nav:hover>a {
    color: var(--black) !important;
}

nav>a:hover {
    background-size: 100% 3px;
}

#homeAnchor {
    margin-right: auto;
}

#homeAnchor>img {
    height: 2rem;
    margin: -2% 0 0 -2%;
}