#materialComparisonContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  grid-template-columns: auto auto auto;
}

.materialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  gap: 20px;
  background-color: white;
}

.statsCircle {
  width: 10px;
  height: 10px;
  border: 2px var(--red) solid;
  border-radius: 50%;
}

.statsCircle.filled {
  background-color: var(--red);
}

.materialStats>div {
  display: flex;
  gap: 3px;
  flex-direction: row;
}

.materialStats>p {
  font-size: 16px;
  margin: 0;
}

.materialStats {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
}

.materialCard>h4 {
  font-size: 20px;
  margin: 0;
}

.materialCard>img {
  width: 150px;
  height: 150px;
  mix-blend-mode: multiply;
}

.partner-link {
  height: 30px;
  color: black;
}

.partner-link>i {
  font-size: 2rem;
  width: 200px;
  display: inline-block;
}

#partners {
  background-color: #fff;
  min-height: unset;
  height: auto;
}

.partner-link {
  /* color: black; */
  color: #fff;
  font-size: 20rem;
}

#materialComparison {
  margin-top: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85)), url(../imgs/bg_3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#materials {
  min-height: unset;
}


#place {
  margin-top: 0;
  min-height: unset;
}


#customers {
  margin-top: 0;
}

.partner-caroussel > .slick-prev::before, .slick-next::before {
  color: #ccc;
}

.partner-link:hover {
  background-color: #fdfdfd;
}

.partner-link > img {
  mix-blend-mode: multiply;
}

.materialCard:hover {
  background-color: #f7f7f7;
}

.review-text {
  margin: 0;
  font-size: 1.2rem;
}