#materialComparisonContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 30px;
  grid-template-columns: auto auto auto;
}

.materialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  gap: 20px;
  background-color: white;
}

.statsCircle {
  width: 10px;
  height: 10px;
  border: 2px var(--red) solid;
  border-radius: 50%;
}

.statsCircle.filled {
  background-color: var(--red);
}

.materialStats>div {
  display: flex;
  gap: 3px;
  flex-direction: row;
}

.materialStats>p {
  font-size: 16px;
  margin: 0;
}

.materialStats {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 20px;
}

.materialCard>h4 {
  font-size: 20px;
  margin: 0;
}

.materialCard>img {
  width: 150px;
  height: 150px;
  mix-blend-mode: multiply;
}

.partner-link {
  height: 30px;
  color: black;
}

.partner-link>i {
  font-size: 2rem;
  width: 200px;
  display: inline-block;
}

#partners {
  background-color: #fff;
  min-height: unset;
  height: auto;
}

.partner-link {
  color: #fff;
  font-size: 20rem;
  transition: 0.2s;
}

.partner-link > img{
  filter: grayscale(1);
  transition: 0.2s;
}

.partner-link:hover > img{
  filter: grayscale(0);
}

#materialComparison {
  margin-top: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85)), url(../imgs/bg_3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#materials {
  min-height: unset;
}


#place {
  margin-top: 0;
  min-height: unset;
}


#customers {
  margin-top: 0;
}

.partner-caroussel > .slick-prev::before, .slick-next::before {
  color: #ccc !important;
}

.partner-link:hover {
  background-color: #fdfdfd;
}

.partner-link > img {
  mix-blend-mode: multiply;
}

.materialCard:hover {
  background-color: #f7f7f7;
}

.review-text {
  margin: 0;
  font-size: 1.2rem;
}

/*08.03.2024*/
.materialOverview {
  align-items: center;
}

article {
  padding: calc(2 * var(--page-padding)) calc(6* var(--page-padding)) !important;
}

nav {
  padding: calc(var(--page-padding) / 2) calc( 4 * var(--page-padding));
  width: calc(100% - 8 * var(--page-padding));
}

/*08.03.2024 refactor*/

/* main.css | https://cautious-waffle-xxg9945prgpcj-5500.app.github.dev/src/styles/main.css */

.material-display-container > div > p {
  /* font-size: 1.5rem; */
  /* line-height: 3rem; */
  font-size: 1.2rem;
  line-height: 2rem;
}

#kitchen > section > div > p {
  /* font-size: 2rem; */
  /* line-height: 4rem; */
  font-size: 1.2rem;
  line-height: 2rem;
  width: 50%;
}

.review {
  /* grid-template-rows: 175px auto; */
  /* min-height: 280px !important; */
  grid-template-rows: 75% auto;
  min-height: 200px !important;
}

/* styles-to-apply.css | https://cautious-waffle-xxg9945prgpcj-5500.app.github.dev/src/styles/styles-to-apply.css */

.materialCard > h4 {
  /* font-size: 20px; */
  font-size: 2rem;
}

.materialCard {
  /* padding: 20px; */
  /* gap: 20px; */
  padding: 40px;
  gap: 40px;
}

#materialComparisonContainer {
  /* gap: 30px; */
  gap: 40px;
}
